.expense-item-container{
    width: 95%;
}

.expense-item-content{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    background-color: rgb(0, 0, 41);
    border-radius: 10px;
    color: white;
}

.expense-right{
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.expense-right-right{
border-radius: 12px;
    width: 100px;
    background-color: rgb(0, 0, 80);
}